
.permissionComp{
    font-size: 10px;
    font-style: italic;
}

.titleTD{
    min-width: 400px !important;
    padding:6px;
}

.actionTD{
    min-width: 40px !important;
    text-align: center;
}

.userTR{
    background-color: #e3e6e6;
}

.actionDelete:hover{
    background-color: #c0392b;
    cursor: pointer;
}

.actionEdit:hover{
background-color: #919494;
cursor: pointer;
}

.popup-content {
    width: 20% !important;
}