.sideMenu{
    display: flex;
    flex-direction: column;
    /* padding:20px 0px 0px 0px ; */
    height: 100vh;
    background-color: #f39c12;
    width: 150px;
    

}


.menuLink{
    text-align: center;
    line-height: 43px;
}

.active{
    color: white;
}

.activeMenuItem{
    background-color: #cc830c;
}